.nav-item .nav-link {
    color: #5a5a5a !important;
}

.nav-item .nav-link:hover {
    color: #0016c0 !important;
}

.navbar-brand {
    color: #0016c0 !important;
}

.navbar-expand-lg .navbar-nav {
    padding-right: 2%;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    left: -65px;
}

.margin-top {
    margin-top: 2% !important;
}

h1 {
    padding: 2%;
    padding-left: 0%;
    padding-bottom: 0%;
}
/* .btn-primary {
    background-color: #0016c0 !important;
    color: #fff !important;
} */
.btn-primary:hover {
    background-color: #2e3fc0 !important;
    color: #fff !important;
    border-color: #2e3fc0 !important;
}
.btn-secondary:hover {
    background-color: #6973c0;
}
.btn-secondary {
    background-color: #2e3fc0;
}

/* body {
    font-family: "Open Sans", sans-serif;
} */
h2 {
    color: #5a5a5a;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin: 30px 0 80px;
}
h2 b {
    color: #0016c0;
}
h2::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 4px;
    background: rgba(0, 0, 0, 0.2);
    left: 0;
    right: 0;
    bottom: -20px;
}
.carousel {
    margin: 50px auto;
    padding: 0 70px;
}
.carousel .item {
    min-height: 330px;
    text-align: center;
    overflow: hidden;
}
.carousel .item .img-box {
    height: 160px;
    width: 100%;
    position: relative;
}
.carousel .item img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.carousel .item h4 {
    font-size: 18px;
    margin: 10px 0;
}
.carousel .item .btn {
    color: #333;
    border-radius: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 16px;
}
.carousel .item .btn:hover,
.carousel .item .btn:focus {
    color: #fff;
    background: #000;
    border-color: #000;
    box-shadow: none;
}
.carousel .item .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .thumb-wrapper {
    text-align: center;
}
.carousel .thumb-content {
    padding: 15px;
}
.carousel .carousel-control {
    height: 100px;
    width: 40px;
    background: none;
    margin: auto 0;
    background: rgba(0, 0, 0, 0.2);
}
.carousel .carousel-control i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}
.carousel .item-price {
    font-size: 13px;
    padding: 2px 0;
}
.carousel .item-price strike {
    color: #999;
    margin-right: 5px;
}
.carousel .item-price span {
    color: #86bd57;
    font-size: 110%;
}
.carousel .carousel-control.left i {
    margin-left: -3px;
}
.carousel .carousel-control.left i {
    margin-right: -3px;
}
.carousel .carousel-indicators {
    bottom: -50px;
}
.carousel-indicators li,
.carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 50%;
    border-color: transparent;
}
.carousel-indicators li {
    background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {
    background: rgba(0, 0, 0, 0.6);
}
.star-rating li {
    padding: 0;
}
.star-rating i {
    font-size: 14px;
    color: #ffc000;
}
.navbar-toggler {
    color: #0016c0 !important;
    border: 1px solid #0016c0 !important;
}
.navbar-dark,
.navbar[data-bs-theme="dark"] {
    --bs-navbar-toggler-icon-bg: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fill="%230016c0"><path stroke="%230016c0" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/></svg>');
}
.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
    color: #3b71ca !important;
}

.icon-hover:hover i {
    color: #3b71ca !important;
}
/* STRUCTURE */

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

.underlineHover:hover:after {
    width: 100%;
}

/* OTHERS */

*:focus {
    outline: none;
}

#icon {
    width: 60%;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0px;
    background: #040b14;
    overflow-y: auto;
}

#sidebar {
    height: 100%;
    width: 250px; /* Initially open for larger screens */
    transition: width 0.3s ease; /* Transition only the width property */
    overflow-x: hidden; /* Hide content that overflows horizontally */
    position: fixed; /* Ensure the sidebar stays fixed */
    top: 0;
    left: 0;
    padding: 0 !important;
    z-index: 9998; /* Ensure the sidebar is above other content */
}

#header .profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #2c2f3f;
}

#header .profile h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
}

#header .profile h1 a,
#header .profile h1 a:hover {
    color: #fff;
    text-decoration: none;
}

#header .profile .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#header .profile .social-links a:hover {
    background: #149ddd;
    color: #fff;
    text-decoration: none;
}

#main {
    margin-left: 250px;
    margin-right: 25px;
    overflow-x: auto; /* Enable horizontal scrolling if needed */
}

.container-fluid {
    padding: 0px;
}

@media (max-width: 1199px) {
    #header {
        left: -300px;
    }
    #sidebar {
        width: 0;
    }
    #sidebar.active {
        width: 250px; /* Opened width */
    }
    #main {
        margin-left: 0;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
        left: -65px;
    }
    .mobile-nav-toggle {
        position: relative;
        right: -840px;
    }
}

@media (max-width: 1180px) {
    .mobile-nav-toggle {
        position: relative;
        right: -820px;
    }
}

@media (max-width: 1160px) {
    .mobile-nav-toggle {
        position: relative;
        right: -800px;
    }
}

@media (max-width: 1140px) {
    .mobile-nav-toggle {
        position: relative;
        right: -780px;
    }
}

@media (max-width: 1120px) {
    .mobile-nav-toggle {
        position: relative;
        right: -760px;
    }
}

@media (max-width: 1100px) {
    .mobile-nav-toggle {
        position: relative;
        right: -740px;
    }
}

@media (max-width: 1080px) {
    .mobile-nav-toggle {
        position: relative;
        right: -720px;
    }
}

@media (max-width: 1060px) {
    .mobile-nav-toggle {
        position: relative;
        right: -700px;
    }
}

@media (max-width: 1040px) {
    .mobile-nav-toggle {
        position: relative;
        right: -680px;
    }
}

@media (max-width: 1020px) {
    .mobile-nav-toggle {
        position: relative;
        right: -660px;
    }
}

@media (max-width: 1000px) {
    .mobile-nav-toggle {
        position: relative;
        right: -640px;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
        left: 50px;
    }
    .mobile-nav-toggle {
        position: static;
    }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
    padding: 30px 0 0 0;
}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
    font-size: 24px;
    padding-right: 8px;
    color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
    text-decoration: none;
    color: #fff !important;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover > a i {
    color: #149ddd;
}

/* Mobile Navigation */
.mobile-nav-toggle {
    z-index: 9998;
    border: 0;
    font-size: 25px;
    transition: all 0.4s;
    outline: none !important;
    /* background-color: #149ddd; */
    color: #fff;
    /* width: 30px;
    height: 30px; */
    margin-right: 10px;
    /* display: inline-flex; */
    align-items: center;
    justify-content: center;
    line-height: 0;
    /* border-radius: 50px; */
    cursor: pointer;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active #header {
    left: 0;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-title {
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    text-transform: none;
    color: #173b6c;
    text-align: justify;
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
    margin: 0;
}

.section-title p {
    margin-bottom: 0;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px; /* Set your desired width */
}
.required {
    color: red;
}
